.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.form-control{
  width: 220px;
  padding: 5px
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}
